.header-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;
}

.header-cont input {
    width: auto;
    flex: 1;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.header-cont button {
    padding: 10px;
    width: 30%;
    font-size: 2.5vmin;
}

h1 {
    text-align: center;
    margin: 10% 20% 10% 0;
    width: 100%;
    font-size: 7vmin;

}

.header-cont button{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.header-cont button:hover {
    background-color: #2e8a17;
}

/* .save-button button, .load-button button {

} */