@import url(styles/headercont.css);
@import url(styles/taskbox.css);

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    margin: 0 10% 0 10%;
    padding: 0;
    background-image: url('../images/vaporwave.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
  }

button {
    background-color: #6ac719;
    color: rgb(0, 0, 0);
    border: 1px solid #2e8a17;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

.main-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 5px inset #AF1281;
    max-width: 40vw;
    width: 100%;
    min-width: 30vw;
    height: 60%;
    max-height: 80vh;
    margin: 10px 10px 0 10px;
    box-sizing: border-box;
    background-color:#E65C9C;
    overflow: auto;
    overflow-x: hidden;
    clip-path: inset(0 0 0 0 round 3%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}