@import url(styles/headercont.css);
@import url(styles/taskbox.css);

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    margin: 0 10% 0 10%;
    padding: 0;

    background-image: url('../images/vaporwave.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
  }

.main-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 5px inset #AF1281;
    max-width: 40vw;
    width: 100%;
    min-width: 30vw;
    height: 60%;
    max-height: 80vh;
    margin: 10px 10px 0 10px;
    box-sizing: border-box;
    background-color:#E65C9C;
    overflow: auto;
    overflow-x: hidden;
    clip-path: inset(0 0 0 0 round 3%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  
.sort-button {
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

.sort-button:hover{
    background-color: #2e8a17;
}

.sort-by-cont {
    position: relative;
    display: inline-block;
    margin: 0 5% 0 0;
    align-self: flex-end;
  }

.sort-options {
    display: flex;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    padding: 10px;
    right: 0;
  }

.sort-option:hover {
    background-color: #1a5b9b;
}

.sort-options button {
    background-color: white;
    color: black;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: 0.1s ease;
  }
  
  .sort-options button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
  }